html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0;
}
body {
    padding: 10px;
    background-color: antiquewhite;
}
a {
    text-decoration: none;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    color: blue;
}
.section {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.label {
    margin-right: 10px;
    font-size: large;
}
.text-input {
    margin-right: 10px;
    width: 250px;
    height: 30px;
    padding: 5px;
    border: 1px solid blueviolet;
    border-radius: 2px;
}
.btn {
    width: 50px;
    height: 20px;
    cursor: pointer;
}
.resultSection {
    margin-top: 25px;
    color: brown;
}
.containerTriangolo {
    margin-top: 25px;
    margin-left: 35px;
}